:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
}

html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    size: 14px;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2F303A;
}

/* CONTAINER */

.header {
    border: 1px solid #ececec;
    height: 60px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.container-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.web-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;

    margin-right: 90px;
}

.menu-list {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;

    display: flex;
    gap: 50px
}

.menu-list .menu-item:hover,
.menu-item:active,
.menu-item:focus {
    color: var(--accent-color);
    transition: 300ms ease-in;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-item {
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 300ms ease;
    text-decoration: none;
}

.contact-list .contact-item:hover,
.contact-item:active,
.contact-item:focus {
    color: var(--accent-color);
    transition: 300ms ease-in;
}

.link-active {
    color: var(--accent-color)
}

/*main-body*/

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero {
    box-sizing: border-box;
    background: var(--background-secondary-color);
    height: 600px;
}

.title {
    color: var(--background-primary-color);
    font-size: 44px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-primary-color);
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.96px;

    padding: 10px 24px;
    margin: 30px;

}

.hero-button:active {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-primary-color);
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.96px;
    transition: 300ms ease-in;
}

.benefit {
    padding: 94px 0px;
}

.benefit-list {
    display: flex;
    gap: 30px;
}

.benefit-item {
    justify-content: space-around;
    width: 100%;

}

.benefit-title {
    color: var(--primary-color);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.benefit-text {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;


}

.work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    width: 100%;
    gap: 30px;
}

.work-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;

    padding-bottom: 50px;
}

.team {
    background: var(--inactive-filter-color);
    width: 100%;
}

.team-title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: center;

    padding-top: 94px;
}

.team-list {
    display: flex;
    width: 100%;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.team-item {
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    margin-top: 50px;
    margin-bottom: 94px;

    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.team-img {
    padding-bottom: 30px;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03em;

    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.team-text {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;

    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;

}

/* footer */

footer {
    box-sizing: border-box;
    background: var(--background-secondary-color);
    height: 251px;
}

.webstudio-footer {
    color: var(--background-primary-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;

    display: flex;
    padding-top: 60px;
}

.address {
    display: block;
    flex-direction: row;
    justify-content: flex-start;

}

.address-text {
    color: var(--background-primary-color);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;

    margin: 28px 0px 0px 0px;
}

.footer-list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.footer-item {
    display: flex;
    margin: 12px 0px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;

}

.footer-contacts:hover {
    cursor: pointer;
}

/* portfolio part */

.portfolio {
    padding: 94px 0px;
}

.portfolio-item {
    display: flex;
    justify-content: center;


}

.portfolio-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 56px;
    margin: 0;
}

.portfolio-buttons {
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--inactive-filter-color);
    color: var(--primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    transition: 300ms ease-in;

}

.buttons-active {

    background: #2196F3;
    transition: 300ms ease-in;

    /* shadow-middle */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list .portfolio-buttons:hover,
.portfolio-buttons:focus {
    background-color: var(--accent-color);
    color: var(--background-primary-color);
    cursor: pointer;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-color);
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.card-link {
    border: 1px solid #EEE;
    background: #FFF;
    width: calc(100% / 3 - 20px)   
}

.card-img{
    padding-bottom:20px ;
}
.card-title{
    display: flex;
    margin: 0;
    padding: 0px 24px;
    justify-content: flex-start;
}

.card-text{
    display: flex;
    margin: 0;
    padding: 4px 24px 20px 24px;
    justify-content: flex-start;
}