:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
}

html {
    font-size: 14px;
}


body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    size: 14px;

}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2F303A;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* CONTAINER */

.header {
    border-bottom: 1px solid #ececec;
    height: 80px;
}



.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.container-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.web-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;

    margin-right: 90px;
}

.menu-list {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;

    display: flex;
    gap: 50px
}

.menu-list .menu-item:hover,
.menu-item:active,
.menu-item:focus {
    color: var(--accent-color);
    transition: 300ms ease-in;
}

.menu-item,
.contact-item {
    padding: 32px 0px;
    display: inline-block;
}

.contact-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.contact-item {
    color: var(--secondary-color);
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: 300ms ease;
    text-decoration: none;
}

.contact-list .contact-item:hover,
.contact-item:active,
.contact-item:focus {
    color: var(--accent-color);
    transition: 300ms ease-in;
}

.link-active {
    color: var(--accent-color)
}

/*main-body*/

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40) 0%, rgba(47, 48, 58, 0.40) 100%), url('../images/background_img.png');
    height: 600px;
}

.title {
    color: var(--background-primary-color);
    font-size: 44px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
}

.hero-button {
    cursor: pointer;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-primary-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.96px;

    padding: 10px 24px;
    margin-top: 30px;
    border: none;
    transition: 300ms ease-in;
}

.hero-button:hover,
.hero-button:focus {
    background: #188CE8;
}

.benefit {
    padding: 94px 0px;
}

.benefit-list {
    display: flex;
    gap: 30px;
}

.benefit-item {
    width: 100%;

}

.benefit-icon {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
    margin-bottom: 30px;

    border-radius: 4px;
    background: #F5F4FA;
}

.benefit-title {
    color: var(--primary-color);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.benefit-text {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: left;


}

.work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    width: 100%;
    gap: 30px;
}

.work-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;

    margin-bottom: 50px;

}

.team {
    width: 100%;
    background: var(--inactive-filter-color);
    padding: 94px 0px;
}

.team-title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;

    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.team-name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;

    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;

}

.team-text {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;

    text-align: center;
    margin-bottom: 16px;
}

.icon-list {
    display: flex;
    justify-content: center;

    gap: 10px;
}

.team-icon {
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 30px;
}

.customers {
    width: 100%;
    padding: 94px 0px;
}

.customers-title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    justify-content: center;

    gap: 30px;
}

.customers-item {
    padding: 12px 32px;

    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

/* footer */

footer {   
    display: flex;
    background: var(--background-secondary-color);
    padding: 60px 0px;
}
.footer-container{
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.footer-add{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.webstudio-footer {
    color: var(--background-primary-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;

}

.address-text {
    color: var(--background-primary-color);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;

    margin: 28px 0px 0px 0px;
}

.footer-list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.footer-item {
    margin-top: 12px;
}


.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;

}

.footer-contacts:hover {
    cursor: pointer;
}


.link-text {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;

}

.footer-contact-list{
    width: 100%;
    display: flex;
    gap: 10px;
}

.footer-contact-item{
    margin-top: 20px;
    padding: 12px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);;   
}

/* portfolio part */

.portfolio {
    padding: 94px 0px;
}

.portfolio-item {
    display: flex;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 50px;
}

.portfolio-buttons {
    cursor: pointer;
    background-color: var(--inactive-filter-color);
    color: var(--primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    transition: 300ms ease-in;
    border: none;

    padding: 6px 22px;
    border-radius: 4px;

}

.buttons-active {
    color: var(--background-primary-color);
    background: #2196F3;
    transition: 300ms ease-in;

    /* shadow-middle */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-list .portfolio-buttons:hover,
.portfolio-buttons:focus {
    background-color: var(--accent-color);
    color: var(--background-primary-color);
    cursor: pointer;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-color);

    margin-bottom: 4px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.card-item {
    width: calc((100% - 60px) / 3);
}

.card-link {
    border: 1px solid #EEE;
    background: #FFF;

    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.card-desk {
    padding: 20px 24px;
}

.card-title {
    display: flex;
    justify-content: flex-start;
}

.card-text {
    display: flex;

    justify-content: flex-start;
}