.customers {
    width: 100%;
    padding: 94px 0px;

    &__title {
        color: $primary-color;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03em;
        text-align: center;

        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;

        gap: 30px;
    }

    &__link {
        display: flex;
        justify-content: center;
        padding: 12px 32px;
        height: 100%;
        width: 100%;

        border-radius: 4px;
        border: 1px solid #AFB1B8;
        transition: 300ms ease-in;
    }

    &__svg {
        fill: #AFB1B8;
        transition: 300ms ease-in;
    }

    &__link:hover &__svg {
        fill: $accent-color;
    }

    &__link:hover,
    &__link:focus &__svg {
        fill: $accent-color;
    }

    &__link:hover,
    &__link:focus {
        fill: $accent-color;
        border: 1px solid #188CE8;
    }
}

@media (max-width: 1200px) {
    .customers {
        &__list{
            flex-wrap: wrap;
        }
    }
}

@media (min-width:992px) and (max-width: 1200px) {
    .customers {
        &__item{
            width: calc(25% - 30px);   
        }

    }
}

@media (min-width:768px) and (max-width: 992px) {
    .customers {
        &__item{
            width: calc(33% - 30px);   
        }

    }
}



@media (max-width:768px) {
    .customers {
        padding: 60px 0px;

        &__title {
            font-size: 28px;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            gap: 30px;
        }

    }
}

@media (max-width:480px) {
    .customers {
        padding: 60px 0px;

        &__title {
            font-size: 28px;
        }

        &__list {
            display: flex;
            gap: 30px;
        }
        &__item{
            width: calc(50% - 15px);   
        }

        &__link{
            padding: 16px 51px;
        }
    }
    }
